body {
    background-color: gray;
}

.top {
    background-color: rgb(54, 92, 79);
}

.titulo {
    text-align: center;
}

.categoria {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(214, 212, 212);
}

.borda {
    border: solid;
    border-style: groove;
    padding: 20px;
    text-align: center;
    border-radius: 15px;
}

.card {
    padding: 20px;
    text-align: center;
}

.card p {
    padding-left: 60px;
    padding-right: 60px;
}

.img {
    padding: 0px;;
}